h2 {
  font-size: 33px;
  text-align: center;
  color: #61dafb;
}

.counter {
  text-align: center;
  button {
    font-size: 30px;
    border: 2px solid #61dafb;
    border-radius: 3px;
    background-color: #20232a;
    color: #61dafb;
  }
}
